<!DOCTYPE html>
<html>
	<head>
		<title>index</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<h1>Main page</h1>
		<% if (name.length > 0 ) { %>
			<a>你好 ， <%= name %> </a>
			<a href="/users/me">個人資料</a>
			<a href="/departments"> 填寫系所表單</a>
			<br>
		<% }else{ %>
			<a href="/users">register</a>
		<% } %>
		<a href='/users/<%= log %>'><%= log %></a>
		<hr>

		<% school.forEach( function ( sch ){ %>
		  <a href="http://<%= sch.deptID %>.localhost:3000"><%= sch.title %></a><br>
		<% }); %>


	</body>
</html>