<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" type="text/css" href="/css/header.css">
  <link rel="stylesheet" type="text/css" href="/css/menu.css">
	<link rel="stylesheet" type="text/css" href="/css/content.css">
  <link rel="stylesheet" type="text/css" href="/css/form.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-teal.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="/js/menu.js"></script>
</head>
<body>
	<header>
	  <span id="menuButton" onclick="toggleNav()">&#9776;</span>
	  <div class="navbar">
	    <a href=""><img src="/img/black-mail.svg"/></a>
	    <a href='/users/logout' id="user">Logout<img src="/img/user.svg"/></a>
	  </div>
	</header>

	<div id="menu" class="sidenav" style="width: 250px;">
	  <span class="close" onclick="toggleNav()">&#9776;</span>
	  <a href="javascript:void(0)" class="closebtn" onclick="toggleNav()">&times;</a>
	  <a href="/projects" id="prjList" onclick="clickMenu(id);" ><img class="menuIcon" src="/img/folder.svg" />專案清單</a>
	  <a href="/projects/<%= projID%>" id="prjManage" onclick="clickMenu(id);" class="selectedMenu" ><img class="menuIcon" src="/img/desk.svg" />專案管理</a>
	  <a href="/projects/<%= projID%>/student-form" id="studentForm" onclick="clickMenu(id);"><img class="menuIcon" src="/img/student.svg" />學生報名表編輯</a>
	  <a href="/projects/<%= projID%>/rmdletter-form" id="letterForm" onclick="clickMenu(id);"><img class="menuIcon" src="/img/diploma.svg" />推薦信表單編輯</a>
	  <a href="/projects/<%= projID%>/rmd-person" id="rmdPerson" onclick="clickMenu(id);"><img class="menuIcon" src="/img/medal.svg" />推薦人管理</a>
	  <a href="/projects/<%= projID%>/student" id="apply" onclick="clickMenu(id);"><img class="menuIcon" src="/img/notepad.svg" />報名管理</a>
	  <a href="/users/me" id="userManage" onclick="clickMenu(id);"><img class="menuIcon" src="/img/scissors.svg" />帳戶管理</a>	
	</div>

	<!-- <div id="topbar"></div> -->
	<div id="content" class="announce-edit open">
		<h1 id="title">專案管理</h1>
		<% var announce = project.announcement; %>

	    
    <% var startMonth = "0"; %>
    <% if(project.startTime.getMonth()<10){ %>
    <% startMonth = "0"+ project.startTime.getMonth(); %>
    <% }else{ %>
    <% startMonth = project.startTime.getMonth(); %>
    <% } %>
    <% var endMonth = "0"; %>
    <% if(project.endTime.getMonth()<10){ %>
    <% endMonth = "0"+ project.endTime.getMonth(); %>
    <% }else{ %>
    <% endMonth = project.endTime.getMonth(); %>
    <% } %>

    <!-- Page Container -->
    <div class="w3-content w3-margin-top" style="max-width:1400px;">

      <!-- The Grid -->
      <div class="w3-row-padding">
      
        <!-- Left Column -->
        <div class="w3-third">
        	<div class="w3-white w3-text-grey w3-card-4">
            <div class="w3-display-container">

            </div>
            <div class="w3-container">
              <div id="add-post-btn"><p class="img-text"><img src="/img/edit-post.svg">新增公告</p></div>
              <hr>
              <form name="update-prj-form">
              <p><i class="fa fa-folder-open fa-fw w3-margin-right w3-large w3-text-theme"></i><input id="titleZh" type="text" value="<%= project.titleZh %>" placeholder="<%= project.titleZh %>" onfocus="this.placeholder = ''" onblur="this.placeholder = '<%= project.titleZh %>'" onchange=""></p>

              <p><i class="fa fa fa-calendar fa-fw w3-margin-right w3-large w3-text-theme"></i><input class="w3-input" type="text" name = 'startTime' id = 'startTime' value='<%= project.startTime.toLocaleDateString(); %>' placeholder='<%= project.startTime.toLocaleDateString(); %>' onfocus="(this.type='date')" onblur="(this.type='text');">
              -
              <input class="w3-input" type="text" name = 'endTime' id = 'endTime' value='<%= project.endTime.toLocaleDateString(); %>' placeholder='<%= project.endTime.toLocaleDateString(); %>' onfocus="(this.type='date')" onblur="(this.type='text');"></p>

              <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-theme"></i><input id="email" class="w3-input" type="e-mail" value="<%= project.email %>" placeholder="<%= project.email %>" onfocus="this.placeholder = ''" onblur="this.placeholder = '<%= project.email %>'"></p>

              <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-theme"></i><input id="phone" class="w3-input" type="tel" value="<%= project.phone %>" placeholder="<%= project.phone %>" onfocus="this.placeholder = ''" onblur="this.placeholder = '<%= project.phone %>'"></p>
              <p><i class="fa fa-globe fa-fw w3-margin-right w3-large w3-text-theme"></i><input type="text" id="subdomain" class="w3-input" value="<%= project.subdomainName %>" placeholder="<%= project.subdomainName %>" onfocus="this.placeholder = ''" onblur="this.placeholder = '<%= project.subdomainName %>'"></p>
              </form>
              <hr>
              <label>發布報名網站</label>
              <label class="switch">
                <% if(project.isDeployed == "true"){ %>
                  <input type="checkbox" id="deployed" checked>
                <% }else{ %>
                  <input type="checkbox" id="deployed" >
                <% } %>
                <span class="slider round"></span>
              </label>
              <p style="font-size: 10px; color: grey;">確定要發布嗎？送出就無法修改囉</p>
              <hr>
              <p class="w3-large"><h3><b>公告列表</b></h3></p>

              <% announce.forEach(function(post){  %>
              <% if( post != null){ %> 
              <hr>
              <a href="#show<%= post._id %>"><p class="w3-large"><i class="fa fa-file-text-o fa-fw w3-margin-right w3-text-theme"></i><%= post.title %></p>
              <p><%= post.timestamp.toDateString() %></p></a>
              <% } %>
              <% }); %> 
              <br>
            </div>
          </div><br>

    	  <!-- End Left Column -->
        </div>

        <!-- Right Column -->
        <div class="w3-twothird">
    		  <div id="add-new-post" class="w3-container w3-card-2 w3-white" style="display: none;">
    		    <form id="announce-create" class="w3-container" action="/projects/announcement/<%= projID %>/" method="post">
    	        <h2 class="w3-text-grey w3-padding-16">
    	        	<input type="text" id="newPostTitle" name="title" value="" placeholder="新增公告" onfocus="this.placeholder = ''" onblur="this.placeholder = '新增公告'" style="outline: none;">
    	        </h2>
    	        <div class="w3-container">
    	        	<textarea id="newPostContent" form="announce-create" name="text" class="w3-input w3-text-grey w3-opacity w3-border-top" style="height: 400px; outline: none;">公告內容</textarea>
                <input type="file" id="file" name="file">
    			    	<div form="announce-create" id="announce-btn" class="w3-btn w3-padding w3-grey w3-right" style="width:120px; margin: 20px;">新增 ❯</div>
    	        </div>
            </form>
          </div>

    			<div class="w3-container w3-card-2 w3-white w3-margin-bottom">
            <h2 class="w3-text-grey w3-padding-16"><i class="w3-margin-right w3-xxlarge w3-text-theme"></i>公告編輯</h2>

            <% var current = true; %>
            <% announce.forEach(function(post){  %>
            <% if( post != null){ %>
            <div id="show<%= post._id %>" class="w3-container" class="display: block;">
              <span class="show-post w3-bar-item w3-button w3-xlarge w3-right w3-text-gray w3-hover-white fa fa-edit"></span>
              <h5 class="w3-opacity"><b><%= post.title %></b></h5>
              <h6 class="w3-text-theme"><i class="fa fa-calendar fa-fw w3-margin-right"></i><%= post.timestamp.toLocaleDateString() %>
              <!-- <% if(current){%>
                <span class="w3-tag w3-blue-gray w3-round"> Current</span>
              <% current = false; %> 
              <% } %>-->
              </h6>
              <p><%= post.text %></p>
              <% if(post.file !=""){ %>
              <p><i class="fa fa-paperclip fa-fw w3-margin-right w3-text-theme" style="font-size: 18px;"></i><a href="<%= post.file %>"><%= post.file.replace("https://s3.us-east-2.amazonaws.com/rmd-letter/"+projID+"/", "") %></a></p>
              <% } %>
              <hr>
            </div>

            <div id="edit<%= post._id %>" class="w3-container" style="display: none;">
              <span class="edit-post w3-bar-item w3-button w3-xlarge w3-right w3-text-gray w3-hover-white fa fa-mail-reply"></span>
              <h5>
                <input type="text" id="title<%= post._id %>" name="title" value="" placeholder="<%= post.title %>" onfocus="this.placeholder = ''" onblur="this.placeholder = '<%= post.title %>'" style="outline: none;border: none;">
              </h5>

              <h6 class="w3-text-theme">
                <i class="fa fa-calendar fa-fw w3-margin-right"></i><%= post.timestamp.toLocaleDateString() %>
              </h6>
              
              <div class="w3-container">
                <textarea id="text<%= post._id %>" form="update-post" name="text" class="w3-input w3-text-grey w3-border-top" style="height: 650px; outline: none;">原公告內容<%= post.text %></textarea>
                <% if(post.file !=""){ %>
                <p>
                  <i class="fa fa-paperclip fa-fw w3-margin-right w3-text-theme" style="font-size: 18px;"></i>
                  <input type="file" id="file<%= post._id %>" name="file" style="display:none;" value="<%= post.file %>">
                  <a id="oldfile<%= post._id %>" href="<%= post.file %>"><%= post.file.replace("https://s3.us-east-2.amazonaws.com/rmd-letter/"+projID+"/", "") %> </a>
                  <i class="fa fa-remove fa-fw w3-margin-right w3-text-gray w3-hover-white remove-file" style="font-size: 12px;" onclick="$('#file<%= post._id %>').css('display', 'inline'); $('#oldfile<%= post._id %>').remove(); $(this).css('display','none');" ></i>
                </p>
                <% }else{ %>
                <input type="file" id="file<%= post._id %>" name="file">
                <% } %>
                <div id="btn<%= post._id %>" form="update-post" class="w3-btn w3-padding w3-grey w3-right announce-edit-btn" style=" margin: 20px; padding: auto 10px;"><i class="fa fa-floppy-o fa-fw w3-margin-right" style="font-size: 18px;"></i>儲存修改</div>
              </div>
              <hr>
            </div>
            


            <% } %>
            <% }); %>

          </div>

        <!-- End Right Column -->
        </div>
    	</div>
    </div>
  </div>

<!-- 	<footer>
	  <div>Icons made by <a href="https://www.flaticon.com/authors/zurb" title="Zurb">Zurb</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
	</footer> -->
 <script type="text/javascript">

  function editPost(postID){
    console.log(postID);

    var url = "/projects/announcement/:projID/:announcementID";
    

  }


  $(".show-post").click(function(){
    var showID = "#"+$(this).parent().attr("id");
    var editID = "#edit"+$(this).parent().attr("id").slice(4);
    console.log(showID);
    console.log(editID);
    $(showID).css("display", "none");
    $(editID).css("display", "block");
  });

  $(".edit-post").click(function(){
    var editID = "#"+$(this).parent().attr("id");
    var showID = "#show"+$(this).parent().attr("id").slice(4);
    console.log(editID);
    console.log(showID);
    $(editID).css("display", "none");
    $(showID).css("display", "block");
  });

 	$("#add-post-btn").click(function() {
 		$("#add-new-post").toggle();
 	});

  $("#announce-btn").click(function(e){  
    let postData = new FormData()
    postData.append("title", $("#newPostTitle").val());
    postData.append("text", $("#newPostContent").val());
    postData.append("timestamp", Date.now());
    
    if($('#file')[0].files[0] == undefined){
      postData.append('file', '');
    }else{
      postData.append('file', $('#file')[0].files[0]);
    }

    $.ajax({
      url: "/projects/announcement/<%= projID %>/",
      type: 'POST',
      data: postData,
      processData: false,
      contentType: false,
      success: function() {
        console.log("success");
      }
    }).done(function(responseData) {
        console.log('Done: ', responseData);
        location.reload();
    }).fail(function() {
        console.log('Fail');
    });
  });

  

  $(".announce-edit-btn").click(function(e){
    var postID = $(this).attr("id").slice(3);
    var titleID = "#title" + postID;
    var textID = "#text" + postID;
    var fileID = "#file" + postID;

    let postData = new FormData()
    postData.append("title", $(titleID).val());
    postData.append("text", $(textID).val());
    
    if( $(fileID)[0].files[0] === undefined ){
      postData.append('file', '');
    }else{
      postData.append('file', $(fileID)[0].files[0]);
    }

    console.log(postData);
    $.ajax({
      url: "/projects/announcement/<%= projID %>/"+postID,
      type: 'PUT',
      data: postData,
      processData: false,
      contentType: false,
      success: function() {
        console.log("success");
      }
    }).done(function(responseData) {
        console.log('Done: ', responseData);
        location.reload();
    }).fail(function() {
        console.log('Fail');
    });
  });

  $("#titleZh").on('change', function postinput(){
    var value = $(this).val();
    $.ajax({ 
      url: '/projects/<%= projID %>/titleZh',
      data: { titleZh: value },
      type: 'put'
    }).done(function(responseData) {
        console.log('Done: ', responseData);
        // location.reload();
    }).fail(function() {
        console.log('Fail');
    });
  });

  $("#startTime").on('change', function postinput(){
    //var value = $(this).val();
    var start = $("#startTime").val();
    var end = $("#endTime").val();
    console.log(start, end);
    $.ajax({ 
      url: '/projects/<%= projID %>/deadline',
      data: { startTime: start, endTime: end},
      type: 'put'
    }).done(function(responseData) {
        console.log('Done: ', responseData);
        // location.reload();
    }).fail(function() {
        console.log('Fail');
    });
  });

  $("#endTime").on('change', function postinput(){
    //var value = $(this).val();
    var start = $("#startTime").val();
    var end = $("#endTime").val();
    console.log(start, end);
    $.ajax({ 
      url: '/projects/<%= projID %>/deadline',
      data: { startTime: start, endTime: end},
      type: 'put'
    }).done(function(responseData) {
        console.log('Done: ', responseData);
        // location.reload();
    }).fail(function() {
        console.log('Fail');
    });
  });

  $("#phone").on('change', function postinput(){
    var value = $(this).val();
    $.ajax({ 
      url: '/projects/<%= projID %>/phone',
      data: { phone: value },
      type: 'put'
    }).done(function(responseData) {
        console.log('Done: ', responseData);
        // location.reload();
    }).fail(function() {
        console.log('Fail');
    });
  });

  $("#email").on('change', function postinput(){
    var value = $(this).val();
    $.ajax({ 
      url: '/projects/<%= projID %>/email',
      data: { email: value },
      type: 'put'
    }).done(function(responseData) {
        console.log('Done: ', responseData);
        // location.reload();
    }).fail(function() {
        console.log('Fail');
    });
  });

  $("#subdomain").on('change', function postinput(){
    var value = $(this).val();
    $.ajax({ 
      url: '/projects/<%= projID %>/subdomain',
      data: { subdomainName: value },
      type: 'put'
    }).done(function(responseData) {
        console.log('Done: ', responseData);
        // location.reload();
    }).fail(function() {
        console.log('Fail');
    });
  });

  $("#deployed").on('change', function postinput(){
    if($("#deployed").prop("checked")) {
      $.ajax({ 
        url: '/projects/<%= projID %>/deployed',
        data: {},
        type: 'get'
      }).done(function(responseData) {
          console.log('Done'/*, responseData*/);
      }).fail(function() {
          console.log('Fail');
      });
    }
    else{
      console.log("off");
    }
  });

 </script>

</body>
</html> 
