<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" type="text/css" href="/css/header.css">
  <link rel="stylesheet" type="text/css" href="/css/menu.css">
	<link rel="stylesheet" type="text/css" href="/css/content.css">
	<link rel="stylesheet" type="text/css" href="/css/form.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="/js/menu.js"></script>
  <script src="/js/form.js"></script>
</head>
<body>
	<header>
	  <span id="menuButton" onclick="toggleNav()">&#9776;</span>
	  <div class="navbar">
	    <a href=""><img src="/img/black-mail.svg"/></a>
	    <a href='/users/logout' id="user">Logout<img src="/img/user.svg"/></a>
	  </div>
	</header>
	
	<div id="menu" class="sidenav" style="width: 250px;">
	  <span class="close" onclick="toggleNav()">&#9776;</span>
	 	<a href="javascript:void(0)" class="closebtn" onclick="toggleNav()">&times;</a>
	  <a href="/projects" id="prjList" onclick="clickMenu(id);" ><img class="menuIcon" src="/img/folder.svg" />專案清單</a>
	  <a href="/projects/<%= projID %>" id="prjManage" onclick="clickMenu(id);" ><img class="menuIcon" src="/img/desk.svg" />專案管理</a>
	  <a href="/projects/<%= projID %>/edit" id="apply" onclick="clickMenu(id);"><img class="menuIcon" src="/img/notepad.svg" />報名管理</a>
	  <a href="/projects/<%= projID %>" id="announce" onclick="clickMenu(id);"><img class="menuIcon" src="/img/megaphone.svg" />公告編輯</a>
	  <a href="/projects/<%= projID %>/student-form" id="studentForm" onclick="clickMenu(id);" ><img class="menuIcon" src="/img/student.svg" />學生報名表編輯</a>
	  <a href="/projects/<%= projID %>/rmdletter-form" id="letterForm" onclick="clickMenu(id);" class="selectedMenu"><img class="menuIcon" src="/img/diploma.svg" />推薦信表單編輯</a>
	  <a href="/projects/<%= projID %>/rmd-person" id="rmdPerson" onclick="clickMenu(id);"><img class="menuIcon" src="/img/medal.svg" />推薦人管理</a>
	  <a href="/users/me" id="userManage" onclick="clickMenu(id);"><img class="menuIcon" src="/img/scissors.svg" />帳戶管理</a>	
	</div>

	<div id="content" class="open">
		<h1 id="title">編輯推薦信表單</h1>	
		<div class="w3-container form">
		  <div class="w3-card-4">
		    <form id="form-edit" class="w3-container">
		    	<div class="w3-container">
			      <h2><input type="text" name="title" value="<%= form.title %>" placeholder="<%= form.title %>" onfocus="this.placeholder = ''" onblur="this.placeholder = '<%= form.title %>'" ></h2>
			    </div>
			    <% 	var typeName = {single: "單選", multiple: "多選", text: "簡答", textArea: "詳答",file: "檔案上傳" };%>
			    <% var questions = form.questions; %>
					<% questions.forEach(function(question){ %>
					<% var qid = "qid" + Math.random().toString(36).substr(2, 5); %>
					<% var questionTitle = question.questionTitle; %>
					<% var type = question.questionType; %>
					<% var questionType = typeName[type]; %>

					<div id="<%= qid %>" class="question-pannel text-answer">
		    		<span onclick="removeQuestion('<%= qid %>');" class="w3-bar-item w3-button w3-white w3-hover-opacity w3-hover-black w3-border w3-xlarge w3-right">×</span>
			    	<div id="typeSelection" class="w3-dropdown-hover w3-cell typeSelection">
							<input type="button" name="questionType" class="w3-button w3-black questionType" value="<%= questionType %>">
						  <div class="w3-dropdown-content w3-bar-block w3-border">
						    <li class="w3-bar-item w3-button" onclick="var qpid = $(this).parent().parent().parent().attr('id'); selectType(qpid, 'single');">單選</li>
						    <li class="w3-bar-item w3-button" onclick="var qpid = $(this).parent().parent().parent().attr('id'); selectType(qpid, 'multiple');">多選</li>
						    <li class="w3-bar-item w3-button" onclick="var qpid = $(this).parent().parent().parent().attr('id'); selectType(qpid, 'text');">簡答</li>
						    <li class="w3-bar-item w3-button" onclick="var qpid = $(this).parent().parent().parent().attr('id'); selectType(qpid, 'textArea');">詳答</li>
						    <li class="w3-bar-item w3-button" onclick="var qpid = $(this).parent().parent().parent().attr('id'); selectType(qpid,'file');">檔案上傳</li>
						  </div>
						</div> <!--type-->
					  <h3 class="w3-cell"><input type="text" name="questionTitle" value="<%= questionTitle %>" placeholder="<%= questionTitle %>" onfocus="this.placeholder = ''" onblur="this.placeholder = '<%= questionTitle %>'" ></h3>

						<% if(type == "textArea"){ %>
						<div id="<%= qid %>-answer" class="answer-textarea">
							<div>
					  		<p>
					  			<div class="empty-icon"></div><div class="textarea">答案</div>
					  		</p>
					  	</div>
					  </div> <!--answer : textArea-->
					  <% }else if(type == "file"){ %>
						<div id="<%= qid %>-answer">
							<p>
				  			<div class="empty-icon"></div>
				  			<button class="upload">上傳檔案</button>
				  		</p>
					  </div> <!--answer : file-->
						<% }else if(type == "single"){ %>
						<div id="<%= qid %>-answer">
					  <% var options = question.options; %>
						<% options.forEach(function(option){ %>
						<% var optidBtn = Math.random().toString(36).substr(2, 5); %>
						<% var optid = "optid" + optidBtn; %>
							<div id="<%= optid %>">
					  		<p>
					  			<div class="radio-icon"></div>
					  			<input type="text" name="option" class="option" placeholder=" <%= option.option %> " onfocus="this.placeholder = ''" onblur="this.placeholder = '<%= option.option %>'" value="<%= option.option %>">
					  			<span id="<%= optidBtn %>" onclick="removeOption(id);" class="w3-bar-item w3-button w3-white w3-xlarge w3-right removeOpt">×</span>
					  		</p>
					  	</div>
						<% }); %>
					  	<div id="<%= qid %>-last">
					  		<p>
					  			<div class="radio-icon"></div>
					  			<button class="option" onclick="addOption('<%= qid %>','single'); return false;">更多選項</button>
					  		</p>
					  	</div>
					  </div> <!--answer : single-->
						<% }else if(type == "multiple"){ %>
						<div id="<%= qid %>-answer">
						<% var options = question.options; %>
						<% options.forEach(function(option){ %>
						<% var optidBtn = Math.random().toString(36).substr(2, 5); %>
						<% var optid = "optid" + optidBtn; %>
							<div id="<%= optid %>">
					  		<p>
					  			<div class="check-icon"></div>
					  			<input type="text" name="option" class="option" placeholder=" <%= option.option %> " onfocus="this.placeholder = ''" onblur="this.placeholder = '<%= option.option %>'" value="<%= option.option %>">
					  			<span id="<%= optidBtn %>" onclick="removeOption(id);" class="w3-bar-item w3-button w3-white w3-xlarge w3-right removeOpt">×</span>
					  		</p>
					  	</div>
						<% }); %>
					  	<div id="<%= qid %>-last">
					  		<p>
					  			<div class="check-icon"></div>
					  			<button class="option" onclick="addOption('<%= qid %>','single'); return false;">更多選項</button>
					  		</p>
					  	</div>  	
					  </div> <!--answer : multiple-->
						<% }else{ %>
					  <div id="<%= qid %>-answer" class="answer-text">
					  	<div>
					  		<p>
					  			<div class="empty-icon"></div>
					  			<input type="text" name="skip" class="w3-input option" placeholder=" 答案 " onfocus="this.placeholder = ''" onblur="this.placeholder = '答案'" disabled="disabled" >
					  		</p>
					  	</div>
					  </div> <!--answer : text-->
						<% } %>

					  <div>
					  	<p>
					  		<% if(question.require == true){%>
					  		<input type="checkbox" name="required" class="w3-check" checked>
					  		<% }else{%>
					  		<input type="checkbox" name="required" class="w3-check">
					  		<% } %>
					  		<label>必填</label>
					  	</p>
					  </div> <!--required-->
					</div> <!--question panel-->					

					<% }); %>

					<div id="add-q-button" onclick="addQuestion(id);" class="w3-button w3-circle w3-grey w3-large add-q-button">+</div><br>
		    	<div id="update-form-btn" onclick= "updateRmdForm('<%= projID %>');" class="w3-button w3-white w3-border w3-round-large w3-medium w3-right create-q-button">儲存變更</div>
		    </form>
		  </div>
		</div>

		<h1>推薦信內容</h1>	

		<div id="rmd-letter" class="w3-container form">
		  <div class="w3-card-4">
		    <form id="letter-edit" class="w3-container" action="/projects/<%= projID %>/invite-letter" method="put">
		    	<h2><input type="text" id="letter-title" name="title" value="<%= letter.title %>" placeholder="<%= letter.title %>" onfocus="this.placeholder = ''" onblur="this.placeholder = '<%= letter.title %>'"></h2>
		    	<p class="w3-small w3-right">[@推薦人名稱] [@學生名稱]</p>
		    	<textarea id="letter-content" form="letter-edit" name="content" class="w3-input w3-border rmdlt" value="test"><%= letter.content %></textarea>
		    	<div id="letter-btn" class="w3-btn w3-padding w3-grey w3-right" style="width:120px; margin-bottom: 10px;">儲存 ❯</div>
		    </form>
		   </div>
		  </div>
		</div>

	</div>

	<footer>
	  <div>Icons made by <a href="https://www.flaticon.com/authors/zurb" title="Zurb">Zurb</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
	</footer>

<script>
$(document).ready(function(){

  $("#letter-btn").click(function(e){
  	$.ajax({ 
      url: '/projects/<%= projID %>/invite-letter',
      data: {title: $("#letter-title").val(), content: $("#letter-content").val()},
      type: 'put'
	  }).done(function(responseData) {
	      console.log('Done: ', responseData);
	      location.reload();
	  }).fail(function() {
	      console.log('Fail');
	  });
  });
 });
</script>
     
</body>
</html> 
