<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/subdomain/css/index.css">
    <!-- 最新編譯和最佳化的 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <!-- 選擇性佈景主題 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <!-- 最新編譯和最佳化的 JavaScript -->
    <script type="text/javascript" src="//code.jquery.com/jquery-3.2.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <title>index</title>

</head>

<body>
    <div class="wrapper" style=" height:100%; width:100%;">
        <div class="container" style="height:100%;">

            <!-- header -->
            <div id="header">
                <div class="row action-bar">
                    <div class="col-md-7">
                        <h1>2017年成大資訊碩士推薦信申請</h1>
                    </div>
                    <div class="col-md-5 operate" align="right">
                        <div>
                            <% if ( typeof user == 'undefined' ) { %>
                                <a href="/users/login">登入</a> <span>|</span>
                                <a href="/users">註冊</a> <span>|</span>
                                <a href="/introduction">使用說明</a>
                            <% } else { %>
                                <a href="/users/logout">登出</a> <span>|</span>
                                <a href="/users/me">個人資料</a> <span>|</span>
                                <a href="/introduction">使用說明</a>
                            <% } %>
                        </div>
                    </div>
                </div>
                <!-- navbar -->
                <nav class="navbar navbar-default">
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav" style="width: 100%;text-align: center;">
                            <li><a href="/" class="dropdown-toggle">系所公告</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">推薦資料<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li class="header_bottomlime">
                                        <a href="/recommendData">我的資料</a>
                                    </li>
                                    <li class="header_bottomlime">
                                        <a href="/fill-student-form">填寫資料</a>
                                    </li>
                                    <li class="header_bottomlime">
                                        <a href="/update-student-form">修改資料</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">推薦申請<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li class="header_bottomlime">
                                        <a href="/projects/rmd-person">推薦人名單</a>
                                    </li>
                                    <li class="header_bottomlime">
                                        <a href="/projects/addRmdPerson">新增推薦人</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="/schedule">進度查詢</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
            <style>
                li.header_bottomlime {
                    border-bottom: 1px #ccc dotted;
                    padding: 2px;
                    width: 155px;
                    text-align: center;
                    /*font style*/
                    letter-spacing: 0.1em;
                    font-weight: 600;
                }

                th {
                    padding-left: 20px !important; 
                    border-top: 3px solid #ddd !important;
                    background-color: antiquewhite;
                    width: 15%;
                }

                table {
                    table-layout: fixed;     
                    border: 3px solid #ddd;
                }

                td {
                    border-right: 3px solid #ddd;
                    border-top: 3px solid #ddd !important;    
                }
            </style>

            <div style="margin-bottom: 20px;"></div>

            <div style="padding-left: 10px;padding-right: 10px;padding-top: 2px;">
                <div class="row" style="margin-top:12px;">
                    <div class="col-md-2" style="float:left;">
                            <div class="sidebar-nav floatmenu_style" style="height:500px; background-color: white; border-radius: 10px;">
                                    <ul class="nav nav-list">
                                        <li class="nav-header header_bottomlime">
                                            子目錄
                                        </li>
                                        <li class="header_bottomlime">
                                            <a href="/recommendData"><i class="icon-th-large"></i>&nbsp;&nbsp;我的資料</a>
                                        </li>
                                        <li class="header_bottomlime">
                                            <a href="/fill-student-form"><i class="icon-star"></i>&nbsp;&nbsp;填寫資料</a>
                                        </li>
                                        <li class="header_bottomlime">
                                            <a href="/update-student-form"><i class="icon-hdd"></i>&nbsp;&nbsp;修改資料</a>
                                        </li>
                                    </ul>
                                </div>
                    </div>
                    <div class="col-md-10" style="float:left;">
                        <div style="background-color: white; border-radius: 10px;">
                                <div class="panel">
                                        <div class="panel-body">
                                            <div class="panel-heading">
                                                <h2 class="panel-title"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;我的資料</h2>
                                            </div>
                                            <% if ( answers === null ) { %>
                                                <h2 style="text-align: center; padding-top:20px;">你目前還沒有填寫資料喔! 趕快去填吧! <a href="/fill-student-form">填寫資料</a></h2>
                                            <% } else { %> 
                                                
                                                <table class="table">
                                                        <% 
                                                        questions.questions.forEach( function (question) { 
                                                            answers.answers.forEach( function (answer) {
                                                                if (question._id == answer.question_id) { 
                                                                    if (question.questionType == 'text') {                                                                                                                
                                                        %>
                                                                        <tr>
                                                                            <th><%= question.questionTitle %>：</th>
                                                                            <td><%= answer.text %></td>
                                                                        </tr>
                                                        <%          } else if (question.questionType == 'textArea') {   %>
                                                                        <tr>
                                                                            <th><%= question.questionTitle %>：</th>
                                                                            <td style="white-space:pre"><%= answer.text %></td>
                                                                        </tr>
                                                        <%          } else if (question.questionType == 'single') { %>
                                                                        <tr>
                                                                            <th><%= question.questionTitle %>：</th>
                                                                            <td><%= answer.choices[0].option %></td>
                                                                        </tr>
                                                        <%          } else if (question.questionType == 'multiple') {  %>
                                                                        <tr>
                                                                            <th><%= question.questionTitle %>：</th>
                                                                            <td>
                                                                                <% answer.choices.forEach( function (choice, index) { 
                                                                                    if (index == 0) {
                                                                                %>
                                                                                        <span><%= choice.option %></span>
                                                                                <%  } else { %>
                                                                                        <span>、 <%= choice.option %></span>
                                                                                <%  }
                                                                                   });
                                                                                %>
                                                                            </td>
                                                                        </tr>
                                                        <%          }
                                                                }
                                                            });
                                                           });
                                                        %>
                                                        </table>
                                            <% } %>
                                        </div>
                                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>