<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/subdomain/css/style.css">
    <!-- 最新編譯和最佳化的 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <!-- 選擇性佈景主題 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <!-- 最新編譯和最佳化的 JavaScript -->
    <script type="text/javascript" src="//code.jquery.com/jquery-3.2.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.9.0/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.9.0/sweetalert2.min.css">
    <script type="text/javascript" src="/subdomain/js/addRmdPerson.js"></script>

    <title><%= proj.titleZh %></title>

</head>

<body>
    <div class="wrapper" style=" height:100%; width:100%;">
            <nav class="navbar navbar-default navbar-fixed-top" style="background: #93B1C6; height: 88px;">
                    <div class="container-fluid">
                      <!-- Brand and toggle get grouped for better mobile display -->
                      <div class="navbar-header">
                        <h1><%= proj.titleZh %></h1>
                      </div>
                  
                        <ul class="nav navbar-nav navbar-right">
                                <% if ( typeof user == 'undefined' ) { %>
                                    <li><a href="/users/login">登入</a> </li>
                                    <li><a href="/users">註冊</a> </li>
                                    <li><a href="#" onclick="intro()">使用說明</a></li>
                                    <li><a href="#" onclick="contact()">連絡我們</a></li>
                                <% } else { %>
                                    <li id="display-name"><%= user.displayName %>， 您好</li>
                                    <li><a href="/users/logout">登出</a> </li>
                                    <li><a href="/users/me">個人資料</a> </li>
                                    <li><a href="#" onclick="intro()">使用說明</a></li>
                                    <li><a href="#" onclick="contact()">聯絡我們</a></li>
                                <% } %>

                        </ul>
                    </div>
                  </nav>
                  <style>
                        .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
                            padding: 12px;
                            padding-left: 15px;
                            padding-right: 15px;
                        }
                    </style>
        <div style="padding-top: 88px;">
                <% if ( typeof user != 'undefined' ) { %>
                    <nav class="navbar navbar-default operater-navbar" style="background: white;">
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav" style="width: 100%;text-align: center;">
                                <li><a href="/" class="dropdown-toggle">系所公告</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">推薦資料<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li class="header_bottomlime">
                                            <a href="/recommendData">我的資料</a>
                                        </li>
                                        <li class="header_bottomlime">
                                            <a href="/fill-student-form">填寫資料</a>
                                        </li>
                                        <li class="header_bottomlime">
                                            <a href="/update-student-form">修改資料</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">推薦申請<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li class="header_bottomlime">
                                            <a href="/projects/rmd-person">推薦人名單</a>
                                        </li>
                                        <li class="header_bottomlime">
                                            <a href="/projects/addRmdPerson">新增推薦人</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="/progress">進度查詢</a></li>
                            </ul>
                        </div>
                    </nav>
                    <% } %>
                    <script>
                            function contact() {
                                swal({
                                    type: 'info',
                                    html:
                                        '<b style="font-size: 22px;">email： </b><span style="font-size: 22px;"><%= proj.email %></span><br><br>' +
                                        '<b style="font-size: 22px;">TEL： </b><span style="font-size: 22px;"><%= proj.phone %></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;',
                                    showCloseButton: true,
                                    showCancelButton: false,
                                    focusConfirm: false,
                                    confirmButtonText: '我知道了',
                                    confirmButtonAriaLabel: '我知道了',
                                });
                            }
                    
                       </script>
        <div class="custom-container">
            <div style="padding-left: 10px;padding-right: 10px;padding-top: 2px;">
                <div class="row" style="margin-top:12px;">
                    
                        <div style="background-color: white; border-radius: 10px;">
                        <% if ( typeof user != 'undefined' ) { %>
                            <div class="panel" style="margin-bottom: 15px; min-height: calc(100vh - 169px);">
                        <% } else { %>
                            <div class="panel" style="margin-bottom: 15px; min-height: calc(100vh - 119px);">
                        <% } %>
                        <div class="panel-body">
                                <div class="panel-heading">
                                    <h2 class="panel-title"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>&nbsp;進度查詢</h2>
                                </div>
                                <hr>
                                <table class="table table-hover" style="text-align: center;">
                                    <thead>
                                        <tr>
                                            <th style="text-align: center;">送出時間</th>
                                            <th style="text-align: center;">推薦人名稱</th>
                                            <th style="text-align: center;">推薦信已送出</th>
                                            <th style="text-align: center;">推薦信已填寫</th> 
                                        </tr>
                                    </thead>
                                    <% if ( user.sentLetter.length == 0 ) { %>
                                        <tr><td colspan="4">目前還沒有寄任何推薦信邀請</td><tr>
                                    <% } else { 
                                            user.sentLetter.forEach(function (rmdPerson) { %>
                                                <tr>
                                                    <td><%= rmdPerson.sendTime.getFullYear() %>-<%= ("00" + (rmdPerson.sendTime.getMonth()+1)).slice(-2) %>-<%= ("00" + rmdPerson.sendTime.getDate()).slice(-2)%>&nbsp;&nbsp;&nbsp;&nbsp;<%= ("00" + (rmdPerson.sendTime. getHours())).slice(-2) %>時<%= ("00" + (rmdPerson.sendTime. getMinutes())).slice(-2) %>分</td>
                                                    <td><%= rmdPerson.rmdPersonName %></td>
                                                    <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
                                    <%          if (rmdlts.length == 0) { %>
                                                    <td><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>
                                                </tr>
                                    <%          } else {            
                                                    let filled = false;
                                                    rmdlts.forEach(function (rmdlt) {
                                                        if (rmdlt.rmdPersonID == rmdPerson.rmdPersonID) { 
                                                            filled = true;
                                                        }
                                                    });
                                                    if (filled) {                        
                                    %>
                                                        <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
                                                </tr>
                                    <%              } else {  %>
                                                        <td><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>
                                                </tr>
                                    <%              }
                                                    
                                                }
                                                
                                            });
                                       }    
                                    %>
                                </table>
                            </div>
                            </div>
                       
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</body>

</html>