<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/subdomain/css/index.css">
    <!-- 最新編譯和最佳化的 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <!-- 選擇性佈景主題 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <!-- 最新編譯和最佳化的 JavaScript -->
    <script type="text/javascript" src="//code.jquery.com/jquery-3.2.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <title>index</title>

</head>

<body>
    <div class="wrapper" style=" height:100%; width:100%;">
        <div class="container" style="height:100%;">

            <!-- header -->
            <div id="header">
                <div class="row action-bar">
                    <div class="col-md-7">
                        <h1>2017年成大資訊碩士推薦信申請</h1>
                    </div>
                    <div class="col-md-5 operate" align="right">
                        <div>
                            <% if ( typeof user == 'undefined' ) { %>
                                <a href="/users/login">登入</a> <span>|</span>
                                <a href="/users">註冊</a> <span>|</span>
                                <a href="/introduction">使用說明</a>
                                <% } else { %>
                                    <a href="/users/logout">登出</a> <span>|</span>
                                    <a href="/users/me">個人資料</a> <span>|</span>
                                    <a href="/introduction">使用說明</a>
                                    <% } %>
                        </div>
                    </div>
                </div>
                <!-- navbar -->
                <nav class="navbar navbar-default">
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav" style="width: 100%;text-align: center;">
                            <li><a href="/" class="dropdown-toggle">系所公告</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">推薦資料<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li class="header_bottomlime">
                                        <a href="/recommendData">我的資料</a>
                                    </li>
                                    <li class="header_bottomlime">
                                        <a href="/fill-student-form">填寫資料</a>
                                    </li>
                                    <li class="header_bottomlime">
                                        <a href="/update-student-form">修改資料</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">推薦申請<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li class="header_bottomlime">
                                        <a href="/projects/rmd-person">推薦人名單</a>
                                    </li>
                                    <li class="header_bottomlime">
                                        <a href="/projects/addRmdPerson">新增推薦人</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="#">進度查詢</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
            <style>
                li.header_bottomlime {
                    border-bottom: 1px #ccc dotted;
                    padding: 2px;
                    width: 155px;
                    text-align: center;
                    /*font style*/
                    letter-spacing: 0.1em;
                    font-weight: 600;
                }

                .noborder {
                    border: none !important;
                }
            </style>

            <div style="margin-bottom: 20px;"></div>

            <div style="padding-left: 10px;padding-right: 10px;padding-top: 2px;">
                <div class="row" style="margin-top:12px;">
                    <div class="col-md-2" style="float:left;">
                        <div class="sidebar-nav floatmenu_style" style="height:500px; background-color: white; border-radius: 10px;">
                            <ul class="nav nav-list">
                                <li class="nav-header header_bottomlime">
                                    子目錄
                                </li>
                                <li class="header_bottomlime">
                                    <a href="/recommendData"><i class="icon-th-large"></i>&nbsp;&nbsp;我的資料</a>
                                </li>
                                <li class="header_bottomlime">
                                    <a href="/fill-student-form"><i class="icon-star"></i>&nbsp;&nbsp;填寫資料</a>
                                </li>
                                <li class="header_bottomlime">
                                    <a href="/update-student-form"><i class="icon-hdd"></i>&nbsp;&nbsp;修改資料</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-10" style="float:left;">
                        <div style="background-color: white; border-radius: 10px;">
                            <div class="panel">
                                <div class="panel-body">
                                    <div class="panel-heading">
                                        <h2 class="panel-title"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;填寫資料&nbsp;-&nbsp;
                                            <%= questions.title %>
                                        </h2>
                                    </div>

                                    <form class="form-horizontal question-form">
                                        <% questions.questions.forEach( function (question) { 
                                            if (question.questionType === 'textSet') {                                                  
                                        %>
                                                <div class="form-group row">
                                                    <label for="birthday" class="col-xs-1 control-label"><%= question.questionTitle %></label>
                                                    <% 
                                                        const num = question.subQuestions.length + 1;
                                                        let questionRange = Math.floor((12 - num) / num);
                                                        if (questionRange < 1) { questionRange = 1; }
                                                    %>
                                                    <div class="col-xs-<%= questionRange %>">
                                                        <input type="text" class="form-control"/>
                                                    </div>
                                                    <% question.subQuestions.forEach(function(sub) { %>
                                                        <label for="birthday" class="col-xs-1 control-label"><%=sub.title %></label>
                                                        <div class="col-xs-<%= questionRange %>">
                                                            <input type="text" class="form-control"/>
                                                        </div>
                                                    <% }); %>
                                                </div>
                                        <%  } else { %>
                                                <div class="form-group row">
                                                    <label for="name" class="col-xs-1 control-label"><%= question.questionTitle %></label>
                                                    <div class="col-xs-11">
                                                        <% if (question.questionType === 'text') { %>
                                                            <input type="text" class="form-control" name="name" />
                                                        <% } else if (question.questionType === 'textArea') { %>
                                                            <textarea  class="form-control"></textarea>
                                                        <%  } else { 
                                                                question.options.forEach(function(option) {
                                                                    if (question.questionType === 'single') {
                                                        %>
                                                                        <div class="radio-inline">
                                                                            <label><input type="radio" name="<%= question._id %>"><%= option.option %>:</label>
                                                                        </div>
                                                        <%          } else { %>
                                                                        <div class="checkbox-inline" >
                                                                            <label><input type="checkbox"><%= option.option %></label>
                                                                        </div>
                                                        <%          } 
                                                                }); 
                                                            } 
                                                        %>
                                                    </div>
                                                </div>
                                        <% }}); %>
                                    </form>
                                    <div class="col-sm-offset-1 col-sm-11">
                                        <button class="btn btn-default">送出
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>