<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/subdomain/css/style.css">
    <!-- 最新編譯和最佳化的 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <!-- 選擇性佈景主題 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <!-- 最新編譯和最佳化的 JavaScript -->
    <script type="text/javascript" src="//code.jquery.com/jquery-3.2.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.9.0/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.9.0/sweetalert2.min.css">
    <script type="text/javascript" src="/subdomain/js/addRmdPerson.js"></script>
    <script type="text/javascript" src="/subdomain/js/bootstrap-filestyle.min.js"> </script>

    <title><%= proj.titleZh %></title>

</head>

<body>
    <div class="wrapper" style=" height:100%; width:100%;">
            <nav class="navbar navbar-default navbar-fixed-top" style="background: #93B1C6; height: 88px;">
                    <div class="container-fluid">
                      <!-- Brand and toggle get grouped for better mobile display -->
                      <%
                      function addDays(theDate, days) {
                        return new Date(theDate.getTime() + days*24*60*60*1000  - 8*60*60*1000);
                      }
                    
                      const endTime = addDays(proj.endTime, 1);          
                      %>
                      <div class="navbar-header">
                        <h1><%= proj.titleZh %></h1>
                      </div>
                  
                        <ul class="nav navbar-nav navbar-right">
                                <% if ( typeof user == 'undefined' ) { %>
                                    <li><a href="/users/login">登入</a> </li>
                                    <%   if (endTime > new Date()) { %>
                                        <li><a href="/users">註冊</a> </li>
                                    <% } %>
                                            <li><a href="#" onclick="intro()">使用說明</a></li>
                                            <li><a href="#" onclick="contact()">連絡我們</a></li>
                                <% } else { %>
                                    <li id="display-name"><%= user.displayName %>， 您好</li>
                                    <li><a href="/users/logout">登出</a> </li>
                                    <%   if (endTime > new Date()) { %>
                                        <li><a href="/users/me">個人資料</a> </li>
                                    <%   }  %>
                                            <li><a href="#" onclick="intro()">使用說明</a></li>
                                            <li><a href="#" onclick="contact()">連絡我們</a></li>
                                <% } %>

                        </ul>
                    </div>
                  </nav>
                  
        <div style="padding-top: 88px;">
                <% if ( typeof user != 'undefined' ) { %>
                    <nav class="navbar navbar-default operater-navbar" style="background: white;">
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav" style="width: 100%;text-align: center;">
                                
                                <%   if (endTime > new Date()) { %>
                                    <li><a href="/" class="dropdown-toggle">系所公告</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">推薦資料<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li class="header_bottomlime">
                                            <a href="/recommendData">我的資料</a>
                                        </li>
                                        <li class="header_bottomlime">
                                            <a href="/fill-student-form">填寫資料</a>
                                        </li>
                                        <li class="header_bottomlime">
                                            <a href="/update-student-form">修改資料</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">推薦申請<b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li class="header_bottomlime">
                                                <a href="/projects/rmd-person">推薦人名單</a>
                                            </li>
                                            <li class="header_bottomlime">
                                                <a href="/projects/addRmdPerson">新增推薦人</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="/progress">進度查詢</a></li>
                                <%  } else { %>
                                    <li><a href="/" class="dropdown-toggle">系所公告</a></li>
                                <li><a class="dropdown-toggle" href="/recommendData">我的資料</a></li>
                                <li><a href="/progress">進度查詢</a></li>
                                <%  }  %>
                                
                                
                            </ul>
                        </div>
                    </nav>
                    <% } %>
                    <script>
                            function contact() {
                                swal({
                                    type: 'info',
                                    html:
                                        '<b style="font-size: 22px;">email： </b><span style="font-size: 22px;"><%= proj.email %></span><br><br>' +
                                        '<b style="font-size: 22px;">TEL： </b><span style="font-size: 22px;"><%= proj.phone %></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;',
                                    showCloseButton: true,
                                    showCancelButton: false,
                                    focusConfirm: false,
                                    confirmButtonText: '我知道了',
                                    confirmButtonAriaLabel: '我知道了',
                                });
                            }
                       </script>
                    <style>
                        .bootstrap-filestyle > input {
                            background: white !important;
                        }
                    </style>


        <div class="custom-container" style="width: 850px !important;">
            <div style="padding-left: 10px;padding-right: 10px;padding-top: 2px;">
                <div class="row" style="margin-top:12px;">
                    
                        <div style="background-color: white; border-radius: 10px;">
                        <% if ( typeof user != 'undefined' ) { %>
                            <div class="panel" style="margin-bottom: 15px; min-height: calc(100vh - 169px);">
                        <% } else { %>
                            <div class="panel" style="margin-bottom: 15px; min-height: calc(100vh - 119px);">
                        <% } %>
                                <div class="panel-body">
                                    
                                        <div class="panel-heading">
                                            <h2 class="panel-title"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;填寫資料&nbsp;-&nbsp;<%= questions.title %>
                                            </h2>
                                        </div>
                                        <hr>
                                        <form class="form-horizontal question-form">
                                            <% questions.questions.forEach( function (question, index) { 
                                                if (question.questionType === 'textSet') {                                                  
                                            %>
                                                    <div class="form-group row">
                                                        <label class="col-xs-1 control-label">
                                                            <% if (question.require == true) { %>
                                                                <span style="color:red">*&nbsp;</span>
                                                            <% } %>
                                                            <%= question.questionTitle %>
                                                        </label>
                                                        <% 
                                                            const num = question.subQuestions.length + 1;
                                                            let questionRange = Math.floor((12 - num) / num);
                                                            if (questionRange < 1) { questionRange = 1; }
                                                        %>
                                                        <div class="col-xs-<%= questionRange %>">
                                                            <input type="text" class="form-control <%= question._id %>" id="text"/>
                                                        </div>
                                                        <% question.subQuestions.forEach(function(sub) { %>
                                                            <label class="col-xs-1 control-label"><%=sub.title %></label>
                                                            <div class="col-xs-<%= questionRange %>">
                                                                <input type="text" class="form-control <%= question._id %>" id="<%= sub._id %>"/>
                                                            </div>
                                                        <% }); %>
                                                    </div>
                                            <%  } else { %>
                                                    <div class="form-group row">
                                                        <label for="name" class="col-xs-2 control-label">
                                                            <% if (question.require) { %>
                                                                <span style="color:red">*&nbsp;</span>
                                                            <% } %>
                                                            <%= question.questionTitle %>
                                                        </label>
                                                        <div class="col-xs-10">
                                                            
                                                            <% if (question.questionType === 'text') { %>
                                                                <input type="text" class="form-control <%= question._id %>"/>
                                                            <% } else if (question.questionType === 'textArea') { %>
                                                                <textarea  class="form-control <%= question._id %>"></textarea>
                                                            <%  } else if (question.questionType === 'file') { %>
                                                                <input class="<%= question._id %> filestyle" type="file" data-buttonText="檔案上傳" data-placeholder="請上傳PDF格式之檔案">
                                                            <%  } else { 
                                                                    question.options.forEach(function(option) {
                                                                        if (question.questionType === 'single') {
                                                            %>
                                                                            <div class="radio-inline">
                                                                                <label><input type="radio" class="<%= question._id %>" id="<%= option._id %>" name="<%= question._id %>"><%= option.option %></label>
                                                                            </div>
                                                            <%          } else { %>
                                                                            <div class="checkbox-inline" >
                                                                                <label><input type="checkbox" class="<%= question._id %>" id="<%= option._id %>"><%= option.option %></label>
                                                                            </div>
                                                            <%          } 
                                                                    }); 
                                                                } 
                                                            %>
                                                        </div>
                                                    </div>
                                            <% }}); %>
                                        </form>
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button class="btn btn-default" id="form-submit-btn" onclick="submitStudentForm()">送出
                                            </button>
<span>* 送出後請稍等，切勿重複送出!</span>
                                        </div>                          
                                </div>
                            </div>
                       
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</body>

</html>
